@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.debug {
  border: 1px solid red;
}

.navbar-item {
  @apply flex flex-col justify-center items-center text-yellow text-2xl font-semibold gap-1 px-8 hover:cursor-pointer;
}

.arrow-button {
  @apply bg-white text-3xl flex justify-center items-center hover:cursor-pointer;
}

.profiles-bar-full {
  @apply h-1.5 w-1.5 rounded-full bg-dark-gray;
}

.profiles-bar-empty {
  @apply h-1.5 w-1.5 rounded-full border border-dark-gray;
}